<h1>Edit Course: {{ course.course_id }}</h1>

<form method="POST">
    Title:
    <input type="text" name="title" value="{{ course.title }}"><br><br>

    Department:
    <select name="dept_name">
        {% for d in departments %}
            <option value="{{ d.dept_name }}"
                {% if d.dept_name == course.dept_name %}selected{% endif %}
            >
                {{ d.dept_name }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    Credits:
    <input type="number" name="credits" value="{{ course.credits }}"><br><br>

    <button type="submit">Update Course</button>
</form>