<!DOCTYPE html>
<html>
<head>
    <title>Create Time Slot</title>
</head>
<body>

    <h1>Create a New Time Slot</h1>

    <form method="POST">

        <label>Time Slot ID:</label><br>
        <input type="text" name="time_slot_id" required><br><br>

        <label>day:</label><br>
        <input type="text" name="day" required><br><br>

        <label>start_hr:</label><br>
        <input type="text" name="start_hr" required><br><br>

        <label>start_min:</label><br>
        <input type="text" name="start_min" required><br><br>

        <label>end_hr:</label><br>
        <input type="text" name="end_hr" required><br><br>

        <label>end_min:</label><br>
        <input type="text" name="end_min" required><br><br>

        <button type="submit">Create Time Slot</button>

    </form>

    <br>
    <a href="/admin">Back to Admin Portal</a>

</body>
</html>